body {
       background-color: #FCEBB6;
       color: #221811;
       font-family: Tahoma, Arial, sans-serif;
}

img {
       border-style: none;
       max-width: 100%;
       height: auto;
}

#wrapper {
       background-color: #FEFAEB;
       margin-left: auto;
       margin-right: auto;
       width: 80%;
}

header {
       background-color: #D2B48C;
       color: #8C3826;
       text-align: center;
}

h1 {
       line-height: 200%;
}

h2 {
       color: #8C3826;
}

nav {
       font-weight: bold;
       text-align: center;
}

/* Flexbox layout specifically for the menu page */
.flex-container {
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
       padding: 20px;
}

#menu-description {
       width: 60%;
}

#menu-image {
       width: 35%;
       height: auto;
       margin-left: 20px;
}

#hero-image {
       width: 100%;
       height: auto;
       display: block;
       margin: 0 auto;
}

footer {
       background-color: #D2B48C;
       font-size: .60em;
       font-style: italic;
       text-align: center;
}

.event {
       display: flex;
       align-items: center;
       margin-bottom: 20px;
}

.event img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

h3 {
  background-color: #D2B48C;
  padding: 5px;
  color: #8C3826;
}

.artist-img {
  border-radius: 50%;
}
     